.svg {
  /* size: 10rem; */
  width: min(1000px, 100vw);
  font-weight: 700;
  /* height: 10rem; */
}
.svg > text {
  font-size: min(calc(5rem + 3vw), 6rem);
  stroke-width: 2;
  /* animation: 4s infinite alternate animate-stroke; */
}

.textBody {
  stroke: var(--primary);
  /* stroke: red; */
  animation: 1s infinite alternate animate-stroke;
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--primary);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--primary);
    stroke: transparent;
    stroke-width: 0;

    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
