@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./nav-items.css");
/**
Base layer doesn't realey importent for now.
*/
@layer base {
  html {
    transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    --primary-one: #000000;
    --primary-one-alfa: rgba(0, 0, 0, 0.3);
    --primary-two: #f4dfc8;
    --primary-three: #f4eae0;
    --primary-four: #faf6f0;

    --radius: 10px;
  }

  html {
    --main-bg: linear-gradient(180deg, #939df9 0%, #81c3ff 100%);
    --hero-bg: rgba(255, 255, 255, 0.2);
  }

  html[date-theme="dark"] {
    --main-bg: linear-gradient(180deg, #171522 0%, #78a0e0 100%);
    --hero-bg: rgba(0, 0, 0, 0.2);
  }
}

/* html {
  scroll-behavior: smooth;
} */
body {
  background: var(--main-bg);
  height: 3000px;
}

.colors-svg {
  color: red;
}
