@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-one: #f2f7ff;

  /*primary*/
  --primary: #bc63ba;
  --primary-foreground: #fbfbfb;
  /*secondary*/
  --secondary: #735dc5;
  --secondary-foreground: #ea6662;

  /*destructive*/
  --destructive: #f40a31;
  --destructive-foreground: #000000;
  /*popover*/
  --popover: #f7c39f;
  --popover-foreground: #6c9408;
  /*muted*/
  --muted: #453b78;
  --muted-foreground: #1a152e;

  /*background*/
  --background: #5778a9;
  --foreground: #222831;

  /*input*/
  --input: #f0f0f0;

  /* Note Have Color */

  /*accent*/
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  /*card*/
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 47.4% 11.2%);
  /*border*/
  --border: hsl(214.3 31.8% 91.4%);

  /*input*/
  --ring: hsl(215 20.2% 65.1%);
  /*radius*/
  --radius: 0.5rem;
}

.test {
  transition: transform 0.8 ease-in;

  background-color: #5778a9b6;
  background-color: transparent;
  border-color: var(--input);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
