/* .nav-items > hr {
  transition-property: transform;
  transition-duration: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.active > hr {
  transform: scaleX(1);
  transform-origin: left;
} */

.skill-animation {
  animation: 0.5s;
}

@keyframes skill-animations {
}
